<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Graphs</title>
    <style>
        thead {
        display: table-header-group;
        }
        tr,
        img {
        page-break-inside: avoid;
        }
        .table {
        border-collapse: collapse !important;
        }
        .table td,
        .table th {
        background-color: #fff !important;
        }
        .table-bordered th,
        .table-bordered td {
        border: 1px solid #ddd !important;
        }
    </style>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>Код</th>
        <th>N</th>
        <th>E</th>
        <th>Связный</th>
        <th>Вершинная связность</th>
        <!--<th>Реберная связность</th>-->
        <th>Радиус</th>
        <th>Диаметр</th>
        <th>Число компонент связности</th>
        <th>Обхват</th>
        <th>Ацикличный</th>
        <th>Двудольный</th>
        <th>Экспонент</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="i: ${#numbers.sequence(0, graphs.size()-1, 1)}" >
        <td th:text="${i+1}"></td>
        <td th:text="${graphs.get(i).getCode()}"></td>
        <td th:text="${graphs.get(i).getOrder()}"></td>
        <td th:text="${graphs.get(i).getEdgeAmount()}"></td>
        <td th:text="${graphs.get(i).getConnected()==1? 'Да':'Нет'}"></td>
        <!--<td th:text="${graphs.get(i).getVertexConnectivity()}"></td>-->
        <td th:text="${graphs.get(i).getEdgeConnectivity()}"></td>
        <td th:text="${graphs.get(i).getConnected()==1? graphs.get(i).getRadius(): 'Н/Д'}"></td>
        <td th:text="${graphs.get(i).getConnected()==1? graphs.get(i).getDiametr(): 'Н/Д'}"></td>
        <td th:text="${graphs.get(i).getComponents()}"></td>
        <td th:text="${graphs.get(i).getGirth()}"></td>
        <td th:text="${graphs.get(i).isAcyclic()?'Да':'Нет'}"></td>
        <td th:text="${graphs.get(i).getTwoPartial()==1? 'Да':'Нет'}"></td>
        <td th:text="${graphs.get(i).getExp()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>