<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Graphs</title>
    <style>
        thead {
        display: table-header-group;
        }
        tr,
        img {
        page-break-inside: avoid;
        }
        .table {
        border-collapse: collapse !important;
        }
        .table td,
        .table th {
        background-color: #fff !important;
        }
        .table-bordered th,
        .table-bordered td {
        border: 1px solid #ddd !important;
        }
    </style>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>Код</th>
        <th>N</th>
        <th>E</th>
        <th>Связный</th>
        <th>Вершинная связность</th>
        <th>Реберная связность</th>
        <th>Радиус</th>
        <th>Диаметр</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="g : ${graphs}">
        <td th:text="${g.getCode()}"></td>
        <td th:text="${g.getOrder()}"></td>
        <td th:text="${g.getEdgeAmount()}"></td>
        <td th:text="${g.getConnected()}"></td>
        <td th:text="${g.getVertexConnectivity()}"></td>
        <td th:text="${g.getEdgeConnectivity()}"></td>
        <td th:text="${g.getRadius()}"></td>
        <td th:text="${g.getDiametr()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>