<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">-->
    <title>Title</title>
</head>
<body>
<form method="get" action="graphs" >
    <!--<table>-->
        <!--<tbody>-->
            Code: <input name="code"/><br />
            Order<input name="order"/><br />
           Edge amount<input name="edgeAmount"/><br />
            Connected<input type="checkbox" name="connected"/><br />
            Edge Connectivity<input name="edgeConnectivity"/><br />
           Radius<input name="radius"/><br />
            Diametr<input name="diametr"/><br />
        <!--</tbody>-->
    <!--</table>-->
    <button type="submit" >Search</button>
</form>
</body>
</html>