<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8" />
    <title>Title</title>
    <!--<link th:href="@{/webjars/bootstrap/3.0.3/css/bootstrap.min.css}" rel="stylesheet" media="all"/>-->
    <link th:href="@{/styles.css}" rel="stylesheet" media="all"/>
</head>
<body>
<form method="get" action="graphs" class="contact_form" >
    <div class="form-group">
        <label for="code">Код:</label>
        <input id="code" name="code"/>
    </div>
    <div class="form-group">
        <label for="order">N</label>
        <input id="order" name="order"/>
        </div>
    <div class="form-group">
        <label> E</label>  <input name="edgeAmount"/>
        </div>
    <div class="form-group">
        <label>Связный</label><input type="checkbox" name="connected"/>
        </div>
    <div class="form-group">
        <label>Вершинная связность</label><input name="vertexConnectivity"/>
    </div>
    <div class="form-group">
        <label>Реберная связность</label><input name="edgeConnectivity"/>
        </div>
    <div class="form-group">
        <label>Радиус</label><input name="radius"/>
        </div>
    <div class="form-group">
        <label>Диаметр</label><input name="diametr"/>
        </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.0.3/js/bootstrap.min.js}"></script>
</body>
</html>